<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/static/images/ic.png">
	<link rel="stylesheet" href="/static/css/index.max.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
	<title>Cloud Drive</title>
</head>
<body>
	<header id="header">
		<h1 id="hed">Cloud Drive</h1>
	</header>
	<main id="main">
		<section id="description">
			<p id="des">File storage and synchronization service. Now store your files in the cloud and access them anywhere through the internet. Get up to 25 GB free!!</p>
		</section>
		<section id="img-sign">
			<img src="/static/images/doc3.gif" alt="Cloud Image" aria-describedby="description">
		</section>
		<section id="sign-up-in">
			<a href="/sign_up"><button class="sgn-btn">Sign Up</button></a>
			<a href="/sign_in"><button class="sgn-btn">Sign In</button></a>
		</section>
	</main>
</body>
</html>
